/* This is based off of kamlandra's config in github.com/Alexays/Waybar/wiki/Examples */
/* Colors */ 
@define-color white #ECEFF4;
@define-color light-grey #4C566A;
@define-color yellow #EBCB8B;
@define-color green #A38E8C;
@define-color red #BF616A;
@define-color orange #D08770;

/* General styles */
* {
  border: none;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background: (255, 255, 255, 1);
}

#workspaces button {
  color: @yellow;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: @white;
  color: @background;
}

#workspaces button.focused {
  background-color: @light-grey;
}

tooltip {
  background: @background;
  color: @yellow;
  padding: 0 10px;
}

tooltip label {
  color: @yellow;
  font-size: 12px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  margin: 6px 3px;
  color: @yellow;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @background;
  color: @yellow;
}

#battery {
  background-color: @background;
  color: @yellow;
}

#battery.charging {
  color: @green;
  background-color: @background;
}

#battery.warning:not(.charging) {
  color: @orange;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background-color: @background;
  color: @yellow; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;
}

#memory {
  background-color: @background;
  color: @yellow; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;

}

#network {
  background-color: @background;
  color: @yellow;
}

#network.disconnected {
  color: @light-grey;
}

#pulseaudio {
  background-color: @background;
  color: @yellow;
}

#pulseaudio.muted {
  background-color: @background;
  color: @light-grey;
}

#temperature {
  background-color: @background;
  color: @yellow;
}

#temperature.critical {
  background-color: @background;
  color: @red;
}

#disk {
  background-color: @background;
  color: @yellow; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;
}
