/* This is based off my eminem style */
/* Colors */ 
@define-color background #000000;
@define-color white #FFFFFF;
@define-color blue #6CACE3;
@define-color light-grey #a9b1d6;
@define-color yellow #d79921;
@define-color green #98971a;
@define-color red #cc241d;

/* General styles */
* {
  border: none;
  border-radius: 4px;
  font-family: monospace;
  font-size: 14px;
  font-weight: 600;
  min-height: 0;
}

window#waybar {
  background-color: @background;
  border: 2px solid @blue;
}

#workspaces button {
  color: @blue;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: @white;
  color: @background;
}

#workspaces button.focused {
  background-color: @white;
  color: @background;
}

tooltip {
  background: @background;
  color: @blue;
  padding: 0 10px;
}

tooltip label {
  color: @blue;
  font-size: 12px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio {
  padding: 0 10px;
  margin: 6px 3px;
  color: @blue;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: @background;
  color: @blue;
}

#battery {
  background-color: @background;
  color: @blue;
}

#battery.charging {
  color: @green;
  background-color: @background;
}

#battery.warning:not(.charging) {
  color: @yellow;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background-color: @background;
  color: @blue; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;
}

#memory {
  background-color: @background;
  color: @blue; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;

}

#network {
  background-color: @background;
  color: @blue;
}

#network.disconnected {
  color: @light-grey;
}

#pulseaudio {
  background-color: @background;
  color: @blue;
}

#pulseaudio.muted {
  background-color: @background;
  color: @light-grey;
}

#temperature {
  background-color: @background;
  color: @blue;
}

#temperature.critical {
  background-color: @background;
  color: @red;
}

#disk {
  background-color: @background;
  color: @blue; 

  /* I have to add this cause they are in a group */
  padding: 0 10px;
  margin: 6px 3px;
}
